{% extends "navbar_site.html" %}
{% block title %}Home{% endblock %}
{% block styles %}
{{ super() }}
<style>
    .watch-later-slider, .recommendations-slider, .watch-again-slider {
        position: relative;
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    .prev-button, .next-button {
        position: absolute;
        top: 50%;
        width: 50px;
        height: 50px;
        transform: translateY(-50%);

    }

    .prev-button {
        left: 0;
    }

    .next-button {
        right: 0;
    }
</style>
{% endblock %}
{% block content %}
<div class="container pt-4">
    <h2>Watch Later</h2>
    <div class="row py-4 position-relative">
        {% if watch_later | query_empty %}
            <span>You have no movies to watch.</span>
        {% else %}
            <div class="watch-later-slider w-100">
                {% for movie in watch_later %}
                <div class="slider-item col-xl-2 col-md-3 col-sm-4">
                    <div class="card h-100">
                        <img src="{{ movie.poster_link }}" class="card-img-top" alt="{{ movie.name }}">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ movie.name }}</h5>
                            <p class="card-text font-weight-light">{{ movie.release_year}}</p>
                            <a href="{{ url_for('movies.movie', movie_id=movie.id, name=(movie.name | movie_name_to_url)) }}" class="btn btn-primary mt-auto">Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev-icon bg-dark border-0 rounded-circle prev-button">
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next-icon bg-dark border-0 rounded-circle next-button">
                <span class="sr-only">Next</span>
            </button>
        {% endif %}
    </div>
    <h2>Try these movies</h2>
    <div class="row py-4 position-relative">
        {% if recommendations | query_empty %}
            <span>There are no movies recommended for you. Try watching some to get recommendations.</span>
        {% else %}
            <div class="recommendations-slider w-100">
                {% for movie in recommendations %}
                <div class="slider-item col-xl-2 col-md-3 col-sm-4">
                    <div class="card h-100">
                        <img src="{{ movie[0].poster_link }}" class="card-img-top" alt="{{ movie[0].name }}">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ movie[0].name }}</h5>
                            <p class="card-text font-weight-light">{{ movie[0].release_year}}</p>
                            <a href="{{ url_for('movies.movie', movie_id=movie[0].id, name=(movie[0].name | movie_name_to_url)) }}" class="btn btn-primary mt-auto">Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev-icon bg-dark border-0 rounded-circle prev-button">
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next-icon bg-dark border-0 rounded-circle next-button">
                <span class="sr-only">Next</span>
            </button>
        {% endif %}
    </div>
    <h2>Watch these again</h2>
    <div class="row py-4 position-relative">
        {% if watch_again | query_empty %}
            <span>There are currently no movies for you to watch again.</span>
        {% else %}
            <div class="watch-again-slider w-100">
                {% for movie in watch_again %}
                <div class="slider-item col-xl-2 col-md-3 col-sm-4">
                    <div class="card h-100">
                        <img src="{{ movie.poster_link }}" class="card-img-top" alt="{{ movie.name }}">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ movie.name }}</h5>
                            <p class="card-text font-weight-light">{{ movie.release_year}}</p>
                            <a href="{{ url_for('movies.movie', movie_id=movie.id, name=(movie.name | movie_name_to_url)) }}" class="btn btn-primary mt-auto">Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev-icon bg-dark border-0 rounded-circle prev-button">
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next-icon bg-dark border-0 rounded-circle next-button">
                <span class="sr-only">Next</span>
            </button>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const watchLaterSlider = document.querySelector(".watch-later-slider");
        const watchLaterLen = watchLaterSlider.scrollWidth - watchLaterSlider.clientWidth;
        const prevWL = watchLaterSlider.parentNode.querySelector(".prev-button");
        const nextWL = watchLaterSlider.parentNode.querySelector(".next-button");

        const recommendSlider = document.querySelector(".recommendations-slider");
        const recommendLen = recommendSlider.scrollWidth - recommendSlider.clientWidth;
        const prevR = recommendSlider.parentNode.querySelector(".prev-button");
        const nextR = recommendSlider.parentNode.querySelector(".next-button");

        const watchAgainSlider = document.querySelector(".watch-again-slider");
        const watchAgainLen = watchAgainSlider.scrollWidth - watchAgainSlider.clientWidth;
        const prevWA = watchAgainSlider.parentNode.querySelector(".prev-button");
        const nextWA = watchAgainSlider.parentNode.querySelector(".next-button");

        function checkButtons() {
            var x = watchLaterSlider.scrollLeft;
            if (x === 0) {
                prevWL.setAttribute("disabled", "true");
            } else if (x == watchLaterLen) {
                nextWL.setAttribute("disabled", "true");
            } else {
                prevWL.removeAttribute("disabled");
                nextWL.removeAttribute("disabled");
            }
            x = recommendSlider.scrollLeft;
            if (x === 0) {
                prevR.setAttribute("disabled", "true");
            } else if (x == recommendLen) {
                nextR.setAttribute("disabled", "true");
            } else {
                prevR.removeAttribute("disabled");
                nextR.removeAttribute("disabled");
            }
            x = watchAgainSlider.scrollLeft;
            if (x === 0) {
                prevWA.setAttribute("disabled", "true");
            } else if (x == watchAgainLen) {
                nextWA.setAttribute("disabled", "true");
            } else {
                prevWA.removeAttribute("disabled");
                nextWA.removeAttribute("disabled");
            }
        }

        watchLaterSlider.addEventListener("scroll", checkButtons);
        recommendSlider.addEventListener("scroll", checkButtons);
        watchAgainSlider.addEventListener("scroll", checkButtons);
        window.addEventListener("resize", checkButtons);
        checkButtons();

        function prevItems(event) {
            if (event.target.parentNode === watchLaterSlider.parentNode) {
                watchLaterSlider.scrollBy({
                    left: -300,
                    behavior:"smooth"
                });
            } else if (event.target.parentNode === recommendSlider.parentNode) {
                recommendSlider.scrollBy({
                    left: -300,
                    behavior:"smooth"
                });
            } else if (event.target.parentNode === watchLaterSlider.parentNode) {
                watchLaterSlider.scrollBy({
                    left: -300,
                    behavior:"smooth"
                });
            }
        }

        function nextItems(event) {
            if (event.target.parentNode === watchLaterSlider.parentNode) {
                watchLaterSlider.scrollBy({
                    left: 300,
                    behavior:"smooth"
                });
            } else if (event.target.parentNode === recommendSlider.parentNode) {
                recommendSlider.scrollBy({
                    left: 300,
                    behavior:"smooth"
                });
            } else if (event.target.parentNode === watchLaterSlider.parentNode) {
                watchLaterSlider.scrollBy({
                    left: 300,
                    behavior:"smooth"
                });
            }
        }

        prevWL.addEventListener("click", prevItems);
        nextWL.addEventListener("click", nextItems);
        prevR.addEventListener("click", prevItems);
        nextR.addEventListener("click", nextItems);
        prevWA.addEventListener("click", prevItems);
        nextWA.addEventListener("click", nextItems);

    });
</script>
{% endblock %}

